.header {
  height: 100px;
  width: 100%;
  position: fixed;
  z-index: 9;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background: rgba(255, 255, 255, 0.55);
  box-shadow: 0px -1px 15px 2px rgba(72, 72, 72, 0.5);
  border-radius: 0px 0px 20px 20px;
  padding: 0 5px;
}
.image-logo {
  background: transparent;
}
.logotipo {
  text-decoration: none;
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 30px;
  color: var(--text-color);
  display: flex;
  align-items: center;
  background: transparent;
}
.logotipo:hover {
}
.nav {
  max-width: 1440px;
  margin: 0 auto;
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background: transparent;
}
.list {
  display: inline-flex;
  background: transparent;
}
.elements {
  list-style: none;
  background: transparent;
}
.links {
  color: var(--text-color);
  text-decoration: none;
  padding: 20px;
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 30px;
  background: transparent;
}
.links:hover {
  transition: all 0.5s ease;
  cursor: pointer;
  background-size: 100% 2px;
  color: rgba(0, 0, 0, 0.295);
}
.btn-contact {
  background: var(--primary-color);
  color: var(--secundary-color);
  border-radius: 20px;
  text-decoration: none;
  padding: 15px;
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: 30px;
}
.btn-contact:hover {
  background: var(--hover-color);
}
.list-mobile {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  position: absolute;
  top: 100%;
  width: 100%;
  max-height: 636px;
  height: 500px;
}
.icon {
  font-size: 25px;
}
@media only screen and (0px <= width < 320px) {
}
@media only screen and (min-width: 320px) {
}
@media only screen and (min-width: 768px) {
}
@media only screen and (max-width: 1024px) {
  .list {
    display: none;
  }
}
@media only screen and (min-width: 1024px) {
  .icon {
    display: none;
  }
  .list-mobile {
    display: none;
  }
}
@media only screen and (min-width: 1440px) {
}
