.footer {
  height: 236px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  background: var(--secundary-color);
}
.container-redes-sociales {
  width: 50%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.image {
}
.copy-right {
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 30px;
  letter-spacing: 0.05em;
}
.location {
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 30px;
  letter-spacing: 0.05em;
}
